<div class="overlay"></div>


<div class="container">
    <main class="card">

        <div class="card-banner">
            REGISTRO
        </div>

        <div class="logo-section">
            <img src="img/logo.png" alt="Logo SIGATAA" class="logo">
        </div>

        <form class="register-form" (submit)="$event.preventDefault()">
            <input type="text" name="nombre" placeholder="Nombre Completo" required>
            <input type="email" name="email" placeholder="Correo Electrónico" required>
            <input type="number" name="matricula" placeholder="Matrícula" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            
            <div class="button-container">
                <button type="submit" class="btn btn-submit">Registrarse</button>
            </div>
        </form>
    </main>
</div> 

<footer class="footer-banner">
    &copy; 2026 SIGATAA.
</footer>