<div class="perfil-header">
    <h1>PERFIL DEL PROFESOR</h1>
</div>

<div class="container">
    <div class="profesores-grid">
        <div class="profesor-card">
            <div class="foto-container" (click)="irAHorario('Juan-Carlos', 'Maestría')">
                <img src="https://via.placeholder.com/150" alt="Foto Profe">
            </div>
            <div class="info-pill">M.C. Juan Carlos Martínez</div>
            <div class="info-pill small">Sistemas Computacionales</div>
            <div class="row">
                <div class="pill edificio">Edificio K</div>
                <div class="pill cubo">Cubo 5</div>
            </div>
        </div>

        <div class="profesor-card">
            <div class="foto-container" (click)="irAHorario('Alejandro-Silva', 'Doctorado')">
                <img src="https://via.placeholder.com/150" alt="Foto Profe">
            </div>
            <div class="info-pill">Dr. Alejandro Silva</div>
            <div class="info-pill small">Inteligencia Artificial</div>
            <div class="row">
                <div class="pill edificio">Edificio L</div>
                <div class="pill cubo">Cubo 2</div>
            </div>
        </div>
    </div>
</div>